fastapi
celery
uvicorn[standard]
redis
sqlalchemy==1.4.15
pymysql
mediapipe
joblib
pandas
matplotlib
scikit-learn
seaborn
tensorflow==2.4.0
torch
torchvision
cryptography
absl-py==0.10
astor==0.8.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
cycler==0.10.0
decorator==4.4.2
Flask==1.1.2
Flask-Cors==3.0.8
Flask-Ext==0.1
Flask-MySQL==1.5.1
gast==0.3.3
google-pasta==0.2.0
grpcio
h5py==2.10.0
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.2
importlib-metadata==1.7.0
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.16.0
Keras
Keras-Applications
Keras-Preprocessing
kiwisolver==1.2.0
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib
moviepy==1.0.3
numpy
opencv-python==4.3.0.36
opt-einsum==3.3.0
pandas
Pillow==8.3.2
proglog==0.1.9
protobuf==3.12.2
PyMySQL==0.10.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
requests==2.24.0
scikit-learn
scipy==1.5.2
six==1.15.0
termcolor==1.1.0
threadpoolctl==2.1.0
tqdm==4.48.0
urllib3==1.25.10
Werkzeug==0.16.0
wrapt==1.12.1
zipp==3.1.0

